<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileTransferServicesBinding" maxReceivedMessageSize="9223372036854775807"
                 messageEncoding="Mtom" transferMode="Streamed" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62805/UpLoadService.svc"
                binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBinding"
                contract="ServiceReference1.IUpLoadService" name="BasicHttpBinding_IUpLoadService" />
    </client>
  </system.serviceModel>
</configuration>